@page
@model Cursos.RazorPages.Pages.Alunos.CreateModel
@{
    ViewData["Title"] = "Criar Aluno";
}

<h1>Criar Aluno</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AlunoDetails.NomeAluno">Nome do Aluno:</label>
                <input asp-for="AlunoDetails.NomeAluno" class="form-control" />
                <span asp-validation-for="AlunoDetails.NomeAluno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlunoDetails.Email">Email:</label>
                <input asp-for="AlunoDetails.Email" class="form-control" />
                <span asp-validation-for="AlunoDetails.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlunoDetails.DataInscricao">Data de Inscrição:</label>
                <input asp-for="AlunoDetails.DataInscricao" class="form-control" />
                <span asp-validation-for="AlunoDetails.DataInscricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Salvar">
                <a asp-page="/Alunos/Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
