@page "{id:int}"
@model Cursos.RazorPages.Pages.Alunos.DeleteModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Deletar Aluno</title>
</head>
<body>
    <div class="container mt-4">
        <h1 class="mb-4">Deletar Aluno</h1>
        <div class="jumbotron">
            <h2>Detalhes do aluno para remover</h2>

            <p><strong>Nome do Aluno:</strong> @Model.AlunoToDelete.NomeAluno</p>
            <p><strong>Email:</strong> @Model.AlunoToDelete.Email</p>
            <p><strong>Data de Inscrição:</strong> @Model.AlunoToDelete.DataInscricao</p>

        </div>

 






        <form method="post">
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-danger" id="deleteButton">

                <a asp-page="Index" class="btn btn-primary">Voltar à lista de alunos</a>
            </div>
        </form>
                   @if (!string.IsNullOrEmpty(ViewData["MensagemErro"] as string))
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["MensagemErro"]
                </div>
            }
                @if (ViewData["ShowSuccessAlert"] != null && (bool)ViewData["ShowSuccessAlert"])
        {
             <script>
                // Desabilitar o botão "Salvar" quando o alerta de sucesso é mostrado
                document.getElementById("btnSalvar").disabled = true;
                
            </script>
            <div class="alert alert-success" role="alert">
                Aluno excluído com sucesso! O botão "Delete" foi desabilitado.
            </div>
            
        }
    </div>
</body>
</html>
<script>
    document.getElementById("deleteButton").addEventListener("click", function() {
        document.querySelector("form").submit();
    });
</script>





