@page "{Id:int}"
@model Curso.RazorPages.Pages.Cursos.AdicionarAlunoCursoModel

<h1>Adicionar Aluno a Curso</h1>

<form method="post">
    <div class="form-group">
        <label for="ViewModel.AlunoId">Selecione um aluno:</label>
        <select asp-for="ViewModel.AlunoId" class="form-control">
            <option value="">Selecione um aluno</option>
            @foreach (var aluno in Model.ViewModel.Alunos)
            {
                <option value="@aluno.AlunoId">@aluno.NomeAluno</option>
            }
        </select>
    </div>
    @if (!string.IsNullOrEmpty(ViewData["MensagemErroAluno"] as string))
    {
        <div class="alert alert-success alert-dismissable">
	<a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
	<p><strong>Atenção:</strong> você tem informações importantes para ler. <a href="#" class="alert-link">Veja mais detalhes aqui.</a></p>
</div>
    }

    @if (ViewData["ShowSuccessAlert"] != null && (bool)ViewData["ShowSuccessAlert"])
    {
        <div class="alert alert-success" role="alert">
            Operação concluída com sucesso!
        </div>
    }

    <input type="hidden" asp-for="ViewModel.CursoId" />
    <button type="submit" class="btn btn-primary">Adicionar Aluno ao Curso</button>
</form>

<a asp-page="Index" class="btn btn-secondary">Voltar para a lista de cursos</a>
